* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.html{
    background-color: gray;
    /* http://bidermimarlik.com/777836/Demon-Slayer-Kimetsu-No-Yaiba-Infinity-Castle-Reveals-New */
}