* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.contact img{
    width: 50px; 
    height: 50px;
    border-radius: 50%; 
    object-fit: cover; 
}
body{
    background: #161717;
    color: white;
    height: 100%;
    overflow: hidden;
}

@media(max-width:1000px){
    .sidebearleft_container{
    display: none;
}
    .start{
        display: flex;
        justify-content: flex-start;
        padding: 0 30px;
    }
    .sidebear_container{
        width: 100%;
    }
}
@media (max-width: 900px){
    .section{
        display: none !important;
    }
    hr{
        display: none;
    }
    .start{
        width: 100vh;
    }
}

