.crow_image{
    width: 40px;
    height: 30px;
    display: flex;
    align-self: center;
}
.start{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.tittle{
 display: flex;
 flex-direction: row;
}
.bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 500px;
}
.profile_picture{
    width: 70px;
    height: 50px
}
.interection{
    display: flex;
    flex-direction: column;
}
.sidebear_container{
    width: 70%;
}
.contact{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.info_contacts{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.info_contacts span{
    font-style: italic;
    color: black;
    font-size: 13px;
}
a{
    text-decoration: none;
}