.crow_image{
    width: 40px;
    height: 30px;
    display: flex;
    align-self: center;
}
.start{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.tittle{
 display: flex;
 flex-direction: row;
 align-self: center;
}
.bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.profile_picture{
    width: 70px;
    height: 50px
}
.interection{
    display: flex;
    flex-direction: column;
}
