.crow_image{
    width: 50px;
    height: 40px;
    display: flex;
    align-self: center;

    filter: 
    drop-shadow(0 0 6px white)
    drop-shadow(0 0 12px white);;
}
.start{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.tittle{
    display: flex;
    flex-direction: row;
    height: 70px;
    gap: 15px;
}
h2{
    display: flex;
    align-items: center;
    font-size: 30px;
    cursor: default; 
}
.bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 500px;
    background-color: #1D1F1F;
}
.profile_picture{
    width: 70px;
    height: 50px
}
.interection{
    display: flex;
    flex-direction: column;
}
.sidebear_container{
    width: 70%;
}
.contact{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding: 10px;
    gap: 10px;
}
.contact:hover{
    background-color:#2D2E2E;
    border-radius: 15px;
}
.info_contacts{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 100%;
}
.info_contacts h3{
    color: white;
}
.info_contacts:hover h3{
    color: skyblue;
}
.info_contacts span{
    font-style: italic;
    color: grey;
    font-size: 13px;
}
a{
    text-decoration: none;
}