.bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 75%;
    width: 75px;
    align-self: center;
    background-color: #1D1F1F;
    border-radius: 100px;
    padding: 15px 0;
    margin-left: 1.5%;
}
.profile_picture{
    width: 70px;
    height: 50px
}
.interection{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bar_header{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    font-size: 13px;
    gap: 12px;
    height: 15%;
    width: 100%;
}
.bar_header img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}
.bar a{
    color: white;
    font-size: 22px;
}
.bar_header h3{
    width: 100%;
    text-align: center;
    font-size: 100%;
}
.nav_item{
    background-color: transparent;
    color: white;
    width: 5%;
    border-radius: 50px;
    /* width: 36px;
    height: 33px; */
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 23px;
    border: none;
}
.nav_item.active{
    color: white;
    background-color: #0783FA ;
}