.contact_container{
    display: flex;
    height: 100vh;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
}
.chats{
    width: 70%;
}
.start{
    width: 30%;
}
.message{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.messages_container {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0 10px;
}
.me{
    align-self: flex-end;
    margin: 10px 0px 10px 10px;
}
.other{
    align-self: flex-start;
    margin: 10px 10px 10px 0px;
}
.texttarea{
    width: 80%;
}
.me h3{
    align-self: flex-end;
}
form{
    display: flex;
    align-items: center;
}
form textarea{
    width: 95%;
    background-color: white;
}
form button{
    width: 5%;
}

