.homescreen{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.hr{
    border: 1px solid grey;
}
.homescreen section{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content_section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 35%;
    padding: 24px;
}
.homescreen section div{
    background-color: #1D1F1F;
}
.crow_section{
    width: 140px;
    height: 110px;
}
.span_descarga{
    font-size: 25px;
    text-align: center;
}
.span_descarga_info{
    font-size: 15px;
    text-align: center;
}