.homescreen{
    display: flex;
    flex-direction: row;
    height: 100vh;
}
.hr{
    border: 1px solid grey;
}
.section{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}
.content_section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 50%;
    width: 35%;
    padding: 24px;
}
.homescreen section div{
    background-color: #1D1F1F;
}
.crow_section{
    width: 140px;
    height: 110px;
}
.span_descarga{
    font-size: 25px;
    text-align: center;
}
.span_descarga_info{
    font-size: 15px;
    text-align: center;
}
.homescreen section button{
    background-color: #002b2b;
    width: 5%;
    border-radius: 50px;
    width: 100px;
    height: 33px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 15px;
    color: white;
}
.homescreen section button:hover{
    background-color: #136363
}